---
layout: default
title: About
---

<div class="row">
  <div class="col-12">
    <h1 style="border-bottom: 1px solid black; margin-top: 1rem;">A Little About Me</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>
      I'm someone who loves to learn about technology. As a child,
      I was always very interested in how things worked, which often
      lead to the disassembling of whatever I was curious about. Be it
      the home computer, my clock, or the radio, you can almost guarantee
      that it's been in pieces at one point. This curiousity coupled with
      my interest in video games eventually lead me to one of my current
      hobbies, collecting and refurbishing old games and consoles.
    </p>
    <p>
      While I'm currently a Web Developer, it would be my dream to eventually
      get into Software Engineering, or something similar in the Computer
      Science field, which can stimulate and hold my interest. Like most
      of the younger generation, I often find myself bored when I'm not
      being challenged. I would say this is more of a gift than a curse though,
      since it enables me to thrive in this day and age with the ever
      changing environment of technology.
    </p>
  </div>
</div>
{% include work.html %}
{% include languages.html %}
