---
layout: default
title: About Me
---
<script>
  $(function(){
    calculateBarFill();
    selectLanguageDetails();
  });
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <h1>About...</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <h2>Known Languages:</h2>
            <p><i>*The fill percentage of each bar represents the time I've spent during my career as a programmer using the specific language.</i><p>
            <br/>
            <div class="d-block">
              {% assign sorted = site.data.known-languages.languages | sort: 'name' %}
              <select class="form-control" style="margin-bottom: 20px;">
                {% for language in sorted %}
                  <option value="{{ language.name }}">{{ language.content.name }}</option>
                {% endfor %}
              </select>
              {% for language in sorted %}
                {% if forloop.first %}
                  <div class="language-details {{ language.name }}">
                {% else %}
                  <div class="language-details {{ language.name }} hidden">
                {% endif %}
                  <div class="row">
                    <div class="col-6">
                      <p>
                        {% if language.content.inUse %}
                          <i class="far fa-check-square"></i>
                        {% else %}
                          <i class="far fa-square"></i>
                        {% endif %}
                        Currently in Use
                      </p>
                    </div>
                    <div class="col-6">
                      <p>
                        {% if language.content.formallyLearned %}
                          <i class="far fa-check-square"></i>
                        {% else %}
                          <i class="far fa-square"></i>
                        {% endif %}
                        Taught in School
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12" style="width: 100%; width: -webkit-fill-available;">
                      <div class="skill-tube">
                        <div class="skill-fill {{ language.name }}" data='{"init" : "{{ language.content.initDate }}", "active" : "{{ language.content.activeDate }}"}'></div>
                      </div>
                    </div>
                  </div>
                  {% if language.content.tech or language.content.classes %}
                    <div class="row">
                      {% if language.content.classes  %}
                        <div class="col-6">
                          <h3> Classes Used In: </h3>
                          {% assign classList = language.content.classes | sort %}
                          <ul style="list-style-type: none;">
                            {% for class in classList %}
                              <li class="truncate"> {{ class }} </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                      {% if language.content.tech %}
                        <div class="col-6">
                          <h3> Technologies Used: </h3>
                          {% assign technologies = language.content.tech | sort %}
                          <ul style="list-style-type: none;">
                            {% for tech in technologies %}
                              <li class="truncate"> {{ tech }} </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <!-- <div class="d-none">
              {% assign sorted = site.data.known-languages.languages | sort: 'name' %}
              {% for language in sorted %}
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <span>{{ language.content.name }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-lg-6" style="margin: auto 10px;">
                      <span>
                        {% if language.content.inUse %}
                          <i class="far fa-check-square"></i>
                        {% else %}
                          <i class="far fa-square"></i>
                        {% endif %}
                        Currently in Use
                      </span>
                    </div>
                    <div class="col-xs-6 col-lg-6" style="margin: auto 10px;">
                      <span>
                        {% if language.content.formallyLearned %}
                          <i class="far fa-check-square"></i>
                        {% else %}
                          <i class="far fa-square"></i>
                        {% endif %}
                        Taught in School
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12" style="width: 100%; width: -webkit-fill-available;">
                      <div class="skill-tube">
                        <div class="skill-fill {{ language.name }}" data='{"init" : "{{ language.content.initDate }}", "active" : "{{ language.content.activeDate }}"}'>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% unless forloop.last %}
                  <hr/>
                {% endunless %}
              {% endfor %}
            <!-- </div> -->
          </div>
          <div class="col-sm-12 col-md-4">
            <h2>Languages that have caught my interest:</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>
                      Language
                    </th>
                    <th>
                      Dabbled?
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% assign sorted = site.data.learn-languages.languages | sort: 'lower' %}
                  {% for language in sorted %}
                    <tr>
                      <td>
                        {{ language.name }}
                      </td>
                      <td>
                        {% if language.dabbled %}
                          <i class="far fa-check-square"></i>
                        {% else %}
                          <i class="far fa-square"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
