@import 'styles/local-includes';

.work {
  border-bottom: 1px dashed $white;
  margin: 0 25px;

  &:last-child {
    border-bottom: none;

    @media (max-width: 768px) {
      margin-bottom: -1em;
    }
  }

  @media (max-width: 768px) {
    border-bottom-width: 2px;
    margin: 0 1em;

    &:first-child {
      margin-top: -1em;
    }
  }
}

.workDescription {
  grid-column: 2/3;

  & > p {
    text-indent: 2em;
  }
}

.workExperience {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  margin: 1em 0;

  @media (max-width: 768px) {
    margin-bottom: 2em;
    margin-top: 2em;

    & > * {
      grid-column: span 2;
    }
  }
}

.workLogo {
  @include flex-center;

  height: 150px;
  margin: 0 30px;
  max-height: 150px;
  max-width: 300px;
  position: relative;
  width: 300px;

  @media (max-width: 768px) {
    margin: 0;
  }
}
