@import 'styles/local-includes';

@mixin stretch-to-edge($edge: 0) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.business_card_container {
  @include stretch-to-edge;
  @include flex-center;
}

.business_card_body {
  @include flex-center;

  background-color: $white;
  max-height: 250px;
  max-width: 450px;
  min-height: 250px;
  min-width: 450px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;

  & > .business_card__drop_shadow {
    @include stretch-to-edge(-2px);

    background-color: rgba($off-white, 0.35);
    box-shadow: 0 0 10px 4px rgba($off-white, 0.35);
    transform: translateZ(-15px);
    z-index: -1;
  }

  * {
    color: $black;
  }

  & > .business_card__side {
    @include stretch-to-edge;

    hr {
      border: none;
      border-top: 1px solid $black;
      margin: 2px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p {
      margin: 0;
    }
  }

  & > .business_card__front {
    @include flex-center;
    flex-direction: column;
  }

  & > .business_card__back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;

    .business_card__back__header {
      @include flex-center;
    }

    .business_card__back__footer {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      ul,
      li {
        font-size: 10pt;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li::before {
        content: '';
      }
    }
  }
}

.logo {
  @include flex-center;

  margin: 0 30px 0 0;

  img[role='presentation'] {
    @include hidden;
  }
}

.logo_image {
  height: auto !important;
  max-height: 120px !important;
  max-width: 120px !important;
  position: relative !important;
  width: max-content !important;
}
