<div class="col-xs-1 nav-menu hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-11">
        <ul>
          {% for page in site.pages %}
            {% unless page.url contains "asset" or page.url contains "base" or page.url contains "thanks" %}
              {% assign pageName = page.url | remove_first: "/" %}
              {% if pageName == "" %}
                {% assign pageName = "index.html" %}
              {% endif %}
              <li><a href="{{page.url | relative}}">{{pageName}}</a></li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-1">
        <a onclick="toggleNav();"><i class="nav-menu-icon fas fa-times"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-1 col-lg-1">
  <a onclick="toggleNav();"><i class="nav-menu-icon fas fa-bars"></i></a>
</div>
