@import 'styles/local-includes';

.side_nav {
  @include border-style;

  display: flex;
  height: 100%;
  min-width: 15vw;
  padding: 0 25px;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
    min-width: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
  }

  h1 {
    border-bottom: 1px dashed $white;
    min-width: 100%;
  }

  nav {
    height: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: inherit;
  }

  ul {
    padding-inline-start: 0;
  }
}
