/* -----SLIDE----- */

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% { transform: translateX(-110%); }
  100% { transform: translateX(0%); }
};

@-webkit-keyframes slide-in {
  0% { -webkit-transform: translateX(-110%); }
  100% { -webkit-transform: translateX(0%); }
};

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-110%); }
};

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-110%); }
};

/* -----FADE----- */

.fade-in {
  animation: fade-in 0.5s forwards;
  -webkit-animation: fade-in 0.5s forwards;
};

.fade-out {
  animation: fade-out 0.5s forwards;
  -webkit-animation: fade-out 0.5s forwards;
};

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
};

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
};

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
};

@-webkit-keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
};
