.nav-menu{
  background: white;
  border: 1px solid black;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  height: 100%;
  height: -webkit-fill-available;
  float: left;
  left: 0;
  margin-left: 5px;
  padding: 10px 20px 0;
  position: fixed;
  top: 0;
  z-index: 10;
};

.nav-menu-icon{
  cursor: pointer;
  font-size: 1.5em;
  margin: 10px 15px;
};
  
#side-nav{
  list-style-type: none;

  & > li > a{
    color: $color1;

    &:hover{
      color: $color5;
      text-decoration: none;
      transition: 0.5s color;
    };
  };
};

#nav-bar,
#mobile-nav-bar{
  & > div{
    text-align: center;

    & > a{
      color: $color2;

      &:hover{
        color: $color5;
        text-decoration: none;
        transition: color 0.5s;
      };
    };
  };

  & > span{
    color: $color5;
    width: 0;
  };
};

#mobile-nav-bar{
  background: $color3;
  margin-top: 0rem !important;
  padding-bottom: 1rem;

  & > span{
    color: $color1;
  };
};