@import 'styles/includes/variables/colors';

@mixin border-style {
  background-color: $light-black;
  box-shadow: 5px 5px 0 $transparent-grey;
  border: 1px dashed $transparent-grey;
  border-bottom-style: solid;
  border-top-style: solid;

  @media (max-width: 768px) {
    border-width: 3px;
  }
}

@mixin hidden {
  display: none;
  height: 0;
  width: 0;
  visibility: hidden;
}
