<!doctype html>

<html lang="en">
  <head>
    {% include meta.html %}
    <meta name="title" content="{{ page.title }}"/>
    <title>{{ page.title }}</title>

    {% include scripts.html %}
  </head>

  <header>
    <div class="row" id="header">
        <div class="col-12">
          <div id="nav-bar" class="row d-flex" style="margin: 1rem 0;">
            <div class="col-4">
              <a href="./index.html">Home</a>
            </div>
            <span>|</span>
            <div class="col-4">
              <a href="./about.html">About</a>
            </div>
            <span>|</span>
            <div class="col-4">
              <a href="./contact.html">Contact</a>
            </div>
          </div>
        </div>
      </div>
  </header>

  <body id="main-content" style="background-color: rgb(223, 223, 223)">
    <div class="container fill-height">
      <div class="row">
        {% include sidenav.html %}
      </div>
      <div class="row fill-height">
        <!-- <div class="col-md-1 d-none d-md-block" id="nav-bar" style="padding: 0; padding-left: 0.75%;">
          <a onclick="toggleNav();" style="float: left; position: sticky; top: 0;"><i class="nav-menu-icon fas fa-bars"></i></a>
        </div> -->
        <div  class="col-12" style="padding: 0;">
          <div class="container-fluid fill-height">
            <div class="row fill-height" style="background: white; border: 1px solid black; box-shadow: 5px 5px rgba(0,0,0,0.5);">
              <div class="col-xs-12 col-lg-12 fill-width">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12 col-lg-12 overlay-screen fill-height fill-width hidden"></div>
      </div>
    </div>
  </body>

  <footer>
    <div class="row" id="footer">
      <div class="col-12" style="padding-right: 0;">
        <div id="mobile-nav-bar" class="row d-flex d-md-none" style="margin: 1rem 0;">
          <div class="col-4">
            <a href="./index.html">Home</a>
          </div>
          <span>|</span>
          <div class="col-4">
            <a href="./about.html">About</a>
          </div>
          <span>|</span>
          <div class="col-4">
            <a href="./contact.html">Contact</a>
          </div>
        </div>
        <div class="row social">
          <div class="col-3">
            <a href="https://www.facebook.com/eddierunkel" alt="facebook" title="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
          <div class="col-3">
            <a href="https://twitter.com/erunks" alt="twitter" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="col-3">
            <a href="https://www.instagram.com/erunk5/" alt="instagram" title="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="col-3">
            <a href="https://github.com/erunks" alt="github" title="GitHub">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <div class="row credit">
          <div class="col-12">
            <p>Edward Runkel<em>&copy;2018</em></p>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function(){
        if(BrowserDetect.browser === "Explorer"){
          extendHeight();
        }
        // addMagic("#mobile-nav-bar","#main-content");
        // addMagic("#nav-bar","#main-content");
      });
    </script>
  </footer>
</html>
